.download{
  
  padding: 10px;

  &__bttom{
    display: flex;
    &__delete{
      text-align: center;
      size: 1.5em;
      display: block;
      width: 150px;
      margin: 30px auto;
      height: 50px;
      display: grid;
      place-items: center;

      
    }
    &__on{
      text-align: center;
      size: 1.5em;
      display: block;
      width: 150px;
      margin: 30px auto;
      height: 50px;
      display: grid;
      place-items: center;

      
    }
  }

  &__content{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    &__name{
      padding: 20px 0;
    }
    .map_img{
    
      padding-bottom: 10px;
      display: block;
    }

    &__ope{
      height: 150px;
      border-radius: 15px;
      border:1px solid black;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      width: 100%;
      
      &__img{
      width: 100px;
      height: 100px;
      display: block;
      }
      &__come{
        padding: 10px;
        width: 100%;
        .ope{
          display: flex;
          p{
            font-weight: bold;
            font-size: 1.1em;
          }
        }
        .line_color{
          width: 18px;
          height: 18px;
          background-color: white;
          border-radius: 100px;
          margin-left: 10px;
        }
        &__comment{
          font-size: 0.9em;
          border-top: 1px solid black;
          width: 100%;
          padding: 5px;
        }
      }
    }
  }
}