.show__said{
  width: 20%;
  height: 75%;
  position: absolute;
  position: fixed;
  right: 15px;
  background-color: #e6e4e4;
  padding: 10px;
  &__btn{
    padding: 0 0 10px 20px;
    button{
      width: 40%;
      height: 50px;
      font-size: 1.5em;
      font-weight: bold;
    }

  }

  &__attack{
    flex-wrap: wrap;
    display: flex;
 
    .box{
      width: 25%;
      transition: 1s;
      cursor: pointer;
      &:hover {
        background-color: #adadad;
        text-decoration: none;
        transform: scale(5px);
      }
      img{
        // object-fit: c
        max-width: 100%;
        height: auto;
        width /***/:auto;
        padding: 5px;
                  
      }
    }
  }
  &__defense{
    display: flex;
    flex-wrap: wrap;
    .box{
      width: 25%;
      transition: transform 1s;
      cursor: pointer;
      &:hover {
        background-color: #adadad;
      
        transform: translate(5px);
      }
      img{
        max-width: 100%;
        height: auto;
        width /***/:auto;
      }
    }
  }
}