.show{
  display: flex;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100vh;
  &__img{
      width: 80%;
      height: 100%;
    &__map{
      margin-bottom: 40px;
      height: 100%;
      width: 100%;
      position: relative;
      canvas{
        position: absolute;
        top: 0;
        left: 0;
      }
  }
  }
  &__said{
    width: 20%;
    height: 100vh;
    background-color: red;
    position: absolute;
    position: fixed;
    right: 0;
  }
}